main {
  min-height: 80vh;
  margin-top: 120px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  background: aliceblue;

  top: 0;
  width: 100%;
  height: 80px;

  z-index: 1;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  background: aliceblue;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
}
footer > label {
  margin: 0 10px;
}
.window {
  position: absolute;
}
#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 95vw;
}
#cards > div {
  margin: 5px;
  position: relative;
  border: 1px solid black;
}
#cards > div:not(.clicked, .done) {
  transform: rotateY(180deg);
  transition: 0.5s;
}
#cards > div:not(.clicked, .done):hover {
  transform: scale(1.1) rotateY(180deg);
  transition: 0.5s;
}

.clicked {
  pointer-events: none;

  transform: rotateY(0deg);
  transition: 0.5s;
}
.clicked > .cardBackFace {
  transform: rotateY(180deg);
  transition: 0.5s;
}
#cards > div:not(.clicked, .done) > .cardBackFace {
  transform: rotateY(0deg);
  transition: 0.5s;
}
.cardBackFace {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #f3ec78, #af4261);

  backface-visibility: hidden;
}
.done {
  transform: translate(0, -100vh) rotateY(0deg);
  transition: 0.5s ease-in-out;

  pointer-events: none;
  visibility: hidden;
}